<h2>User Info</h2>
<p>Name: <%= @order.user.name %> </p>
<p>Address: <%= @order.user.address %> </p>
<p>City: <%= @order.user.city %> </p>
<p>State: <%= @order.user.state %> </p>
<p>Zip: <%= @order.user.zip %> </p>
<p>Email: <%= @order.user.email %> </p>
