<h2>Edit Info</h2>
<%= form_tag "/profile", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @user.name %>
  <%= label_tag :address %>
  <%= text_field_tag :address, @user.address %>
  <%= label_tag :city %>
  <%= text_field_tag :city, @user.city %>
  <%= label_tag :state %>
  <%= text_field_tag :state, @user.state %>
  <%= label_tag :zip %>
  <%= text_field_tag :zip, @user.zip %>
  <%= label_tag :email %>
  <%= text_field_tag :email, @user.email %>
  <%= submit_tag "Update Info" %>
<% end %>
