<h2>Update Password</h2>
<%= form_tag "/profile", method: :patch do %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>
  <%= label_tag :password_confirmation %>
  <%= text_field_tag :password_confirmation %>
  <%= submit_tag "Submit" %>
<% end %>
