<h2>User Info</h2>
<p>Name: <%= @user.name %> </p>
<p>Address: <%= @user.address %> </p>
<p>City: <%= @user.city %> </p>
<p>State: <%= @user.state %> </p>
<p>Zip: <%= @user.zip %> </p>
<p>Email: <%= @user.email %> </p>
<p> <%= link_to "Edit Info", "/profile/edit" %> </p>
<p> <%= link_to "Change Password", "/password" %> </p>
