<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>

  <h2> Order ID: <%= @order.id %> </h2>
  <h2> Order date: <%= @order.created_at %> </h2>
  <h2> Last update: <%= @order.updated_at %> </h2>
  <h2> Current status: <%= @order.status %> </h2>


  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>

<h1 align = "center">Order Info</h1>
<center>
  <table>
    <tr>
      <th>Item</th>
      <th>Sold By</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  <% @order.merchant_order_items(current_user.merchant.id).each do |item_order|%>
    <section id = "item-<%=item_order.item_id%>">
      <tr>
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p>
        <p><%= item_order.item.description %></p>
        <p><%= image_tag(item_order.item.image) %></p></td>
        <td><p><%= link_to item_order.item.merchant.name, "/merchants/#{item_order.item.merchant.id}"%></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <td><p><%= number_to_currency(item_order.subtotal)%></p></td>
      </tr>
      <% if item_order.status == "unfulfilled" && item_order.has_inventory? %>
        <p> <%= button_to "Fulfill Item", "/merchant/item_orders/#{item_order.id}", method: :patch %> </p>
      <% elsif item_order.status == "unfulfilled" && !item_order.has_inventory? %>
        <p>Not enough inventory to fulfill.</p>
      <% else %>
        <p>Item Fulfilled</p>
      <% end %>
    </section>
  <% end %>
</table>

<section id="total_quantity">
  <p>Total items: <%= (@order.total_items)%></p>
</section>
<section id="grandtotal">
  <p>Total price: <%=number_to_currency(@order.grandtotal)%></p>
</section>
<section id="datecreated">
  <p> <%= @order.created_at%></p>
</section>

<% if @order.status == "pending" || @order.status == "packaged" %>
  <p> <%= button_to "Cancel Order", "/profile/orders/#{@order.id}", method: :delete %> </p>
<% end %>
